# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Build and Distribution Directories
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
.Python
env/
venv/

# Audio / Temp files
voice.mp3
*.wav
*.mp3

# Editor / OS directories
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db